doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.6/dist/css/uikit.min.css") 
        title Document
    body 
        .uk-container
            include nav

            block content


        script(src="https://cdn.jsdelivr.net/npm/uikit@3.15.6/dist/js/uikit.min.js")
        script(src="https://cdn.jsdelivr.net/npm/uikit@3.15.6/dist/js/uikit-icons.min.js")

      

