div(class="uk-container")
    nav(class="uk-navbar-container" uk-navbar)
        div(class="uk-navbar-center")
            ul(class="uk-navbar-nav")
                li
                    a(href="/") Users List  
                li
                    a(href="/addUser") Add User