extends ./layouts/index
block content 
    .box
        h1 Add to users list
        form(action='/add/user', method='post')
            input(type='text', placeholder='Username', name='username')
            input(type='text', placeholder='Password', name='password')
            input.button(type='submit', value='Add')