extends ./layouts/index
block content
    table.uk-table.uk-table-small.uk-table-divider
        thead
            tr
                th Username
                th Password
                th ID
        tbody
            tr
                td {{username}}
                td {{password}}
                td {{id}}